<!--<div style="text-align:left">
    <button class="add" type="button" pButton icon="fa fa-plus" (click)="display=false; showModal()">Abrir caja</button>
</div>-->
<p-button (click)="display=false; showModal()" >Abrir caja </p-button>  
  <!--Form Add -->
  <p-dialog header="Abrir caja" [(visible)]="display"
    [modal]="true" [responsive]="true" showEffect="fade" [style]="{width: '50vw'}">
    <form >
    <!-- Header-->
    <div class="ui-m ui-fluid">
        <div class="ui-m-12 ui-fluid">
          <div class="ui-m-12 required">
            <label for="saldoInicial">Monto inicial</label>
          </div>
          <div class="ui-m-12">
            <input pInputText class="col-md-12" type="text" id="saldoInicial" [(ngModel)]="caja.saldoInicial" name="saldoInicial" placeholder="Monto inicial" required />
          </div>
        </div>
      </div>
    <!-- Footer -->
    <p-footer>
      <div class="p-grid mt-1">
        <div class="p-col">
          <button pButton type="reset" class="button-cancel p-col" (click)="display=false"  icon="fa fa-close" label="Cancelar"></button>
        </div>
        <div class="p-col">
          <button pButton type="submit" class="button-save p-col"  (click)="abrir()" icon="fa fa-check" label="Abrir"></button>
        </div>
        
      </div>
      
    </p-footer>
</form>
   </p-dialog>