<p-toast key="alert" [style]="{marginTop: '-12px'}"></p-toast>
<p-panel header="Rubros de items" [toggleable]="true" [style]="{'margin-bottom':'5px'}">
  <form #frm="ngForm" class="form">
    <div class="p-d-flex p-ai-end">
          <div class="p-col-2">
            <label style="color: black">Nombre</label>
            <br>
            <input pInputText name="nombre"  placeholder="Nombre" ngModel>
          </div>

          <div class="p-col-4">
            <label style="color: black">Descripción</label>
            <br>
            <input class="inputName" pInputText name="descripcion" placeholder="Descripcion"  ngModel>
          </div>

          <div class="p-col-2">
            <label for="grupo" style="margin-left: 85px; color: black">Grupo</label>
            <p-dropdown class="inputGrupo" id="grupo" [options]="grupos" name="grupo" [(ngModel)]="grupo" placeholder="Seleccione grupo"
            optionLabel="nombre" appendTo="body"></p-dropdown>
          </div>
          <div class="p-col">
            <button  pButton type="submit" class="button-clear" label="Limpiar" (click)="frm.reset()" style="margin-right: 0.4em"></button>
            <button  pButton type="submit" class="button-search" label="Buscar" (click)="search(frm); buttonSearch(disabled)"></button>
          </div>
        </div>
  </form>
</p-panel>

<div class="button-add">
    <app-rubro-modal *ngIf="hasPermissionCreate" (sendDataModal)="addNewRubro($event)" [grupos]=grupos ></app-rubro-modal>
</div>







<!-- Grid -->
<div class="p-d-flex">
  <p-table #dt class="fixPaginator" [columns]="cols" [value]="rubros" dataKey="id" [paginator]="true"
    [rows]="5" pageLinkSize="3" [rowsPerPageOptions]="[5, 10, 15, 25, 50]" editMode="row" [loading]="loading"  [scrollable]="true" scrollHeight="{{scrollHeight}}">
    <!-- Header -->
   <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns;" [ngStyle]="{ 'background-color': col.filtered == '' || col.filtered == undefined ? '' : 'rgb(0, 122, 217)', 'color': col.filtered == '' || col.filtered == undefined ? '' : '#ffffff'}" [pSortableColumn]="col.field" pResizableColumn style="padding: 0.05em;">
        <div class="p-grid" style="padding: 0px;">
          <p-overlayPanel  #column_filter [showCloseIcon]="true" [dismissable]="false" appendTo="body">
            <input (input)="dt.filter($event.target.value, col.field, col.filterMatchMode); col.filtered=$event.target.value" placeholder="{{col.header}}" pInputText type="text"/>
          </p-overlayPanel>
          <div class="p-col-10">{{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon></div>
          <div class="p-col-2" style="padding: 0px; align-self: center; text-align: center;" (click)="$event.stopPropagation()"><i [ngClass]="col.filtered == '' || col.filtered == undefined ? 'pi pi-search' : 'pi pi-filter'" (click)="column_filter.show($event)" style="font-size:14px;"></i>
          </div>
        </div>						
      </th>
      <th style="text-align: center;">Acción</th>
    </tr>
   </ng-template>

    <!-- Data Column -->
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-index="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.nombre">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.nombre}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.descripcion">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.descripcion}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown id="grupo" [options]="grupos" name="grupo" [(ngModel)]="rowData.grupo" placeholder="Seleccione grupo"
                optionLabel="nombre" appendTo="body">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.grupo.nombre}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="actions">
          <button *ngIf="!editing" pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)" pInitEditableRow></button>
          <button *ngIf="editing && hasPermissionCreate" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" (click)="updateRubro(rowData, index)"
            style="margin-right: .5em"></button>
          <button *ngIf="editing && hasPermissionDelete" pButton type="button" icon="pi pi-trash" class="ui-button-danger" style="margin-right: .5em" (click)="onJustification(index)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
            class="ui-button-info" (click)="onRowEditCancel(rowData, index)"></button>
        </td>
      </tr>
    </ng-template>
     <!-- Summary -->
     <ng-template pTemplate="summary" let-rowData let-index="rowIndex">
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="6" class="text-center">
              {{ loading ? 'Cargando...' : 'No hay registros para los criterios especificados'}}
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright" let-state>
      <strong> Mostrando {{ state?.rows > rubros?.length ? rubros?.length : state?.rows}} de {{rubros?.length}} registros</strong>
    </ng-template>
   </p-table>
</div>

<app-justification
  [displayJustification]=displayJustification
  [permissionDelete]=permissionDelete
  [userJustification]=user
  (sendDataModal)="returnJustification($event)"
></app-justification>

<router-outlet></router-outlet>
