<form id="frmPassModal" #frmPassModal="ngForm">
  <p-dialog header="Header" [(visible)]="displayPassChangeModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
      [draggable]="false" [resizable]="false">
      <div class="form-group">
        <label>Contraseña actual</label>
        <input class="form-control input-lg" placeholder="Ingresa tu contraseña actual" type="password"  id = "oldpw" required>
        </div>
        <div class="form-group">
        <label>Nueva contraseña</label>
        <input class="form-control input-lg" placeholder="Ingresa la nueva contraseña" type="password" id = "newpw" required>
        </div>
        
        <div class="form-group">
        <label>Repetir nueva contraseña</label>
        <input class="form-control input-lg" placeholder="Repite la nueva contraseña" type="password"  id = "confirmpw" required>
        </div>
        
        <p class="mb-4" style="color: #FF0000" id = "campo"></p>
        <button class="btn btn-primary mt-2">Cambiar contraseña</button>
        
        <p-footer>
          <button pButton type="reset" class="button-cancel" (click)="frmModalPass.resetForm(); displayPassChangeModal=false"  icon="fa fa-close" label="Cancelar"></button>
          <button pButton type="submit" class="button-save" [disabled]="!frmModalPass.valid" icon="fa fa-check" label="Grabar"></button>
        </p-footer>
  </p-dialog>
  </form>